<body>
    <div class="bg-red-300 " routerLink="">   
      <div class="bg-pink-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%" src="../../../../../assets/images/DopeLapSticker.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">Happy Birthday Dope💚🦋</p>
            <p>I hope your special day will bring you lots of happiness, love, and fun. You deserve them a lot. Enjoy!</p>
            <p>Hope your day goes great!</p>
          </div>
        </div>
      </div>
   
      <div class="bg-green-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/DopeLapSticker.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">वाढदिवसाच्या शुभेच्छा, डोप💚🦋</p>
            <p>
              मला आशा आहे की तुमचा विशेष दिवस तुम्हाला खूप आनंद, प्रेम आणि मजा घेऊन येईल. तुम्ही त्यांना खूप पात्र आहात.
              आनंद घ्या!</p>
            <p>तुमचा दिवस छान जाईल अशी आशा आहे!</p>
          </div>
        </div>
      </div>
    
      <div class="bg-blue-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/DopeLapSticker.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">పుట్టినరోజు శుభాకాంక్షలు, డోప్💚🦋</p>
            <p>మీ ప్రత్యేక రోజు మీకు చాలా సంతోషాన్ని, ప్రేమను మరియు వినోదాన్ని తెస్తుందని ఆశిస్తున్నాను. మీరు వారికి చాలా
              అర్హులు. ఆనందించండి!</p>
            <p>మీ రోజు గొప్పగా సాగుతుందని ఆశిస్తున్నాను!</p>
          </div>
        </div>
      </div>
  
      <div class="bg-orange-300">
        <div class="absolute"> 
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%"
                src="../../../../../assets/images/DopeLapSticker.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">जन्मदिन मुबारक हो, डोप💚🦋</p>
            <p>मुझे उम्मीद है कि आपका खास दिन आपके लिए ढेर सारी खुशियां, प्यार और मस्ती लेकर आएगा। आप उनके बहुत लायक हैं।
              आनंद लेना!</p>
            <p>आशा है कि आपका दिन बहुत अच्छा गुजरे!</p>
          </div>
        </div>
      
      </div>
  
      <div class="bg-yellow-300">
        <div class="absolute">
          <app-dope-butterfly></app-dope-butterfly>   
         </div> 
        <div class="card">
          <div class="back"></div>
          <div class="front">
            <div class="imgset">
              <img width="100%" height="100%"
                src="../../../../../assets/images/DopeLapSticker.jpg">
            </div>
          </div>
          <div class="text-container">
            <p id="head">பிறந்தநாள் வாழ்த்துக்கள், டோப்💚🦋
            </p>
            <p>
              உங்கள் சிறப்பு நாள் உங்களுக்கு நிறைய மகிழ்ச்சியையும், அன்பையும், வேடிக்கையையும் தரும் என்று நம்புகிறேன்.
              நீங்கள் அவர்களுக்கு மிகவும் தகுதியானவர். மகிழுங்கள்!</p>
            <p>உங்கள் நாள் சிறப்பாக இருக்கும் என்று நம்புகிறேன்!</p>
          </div>
        </div>
      </div>
    
    </div>
    
   
  </body>